<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: rgb(46, 49, 51); height: 80vh;">
    <div
      style="
        width: 600px;
        height: 250px;
        background-color: aliceblue;
        margin: auto;
        margin-top: 30vh;
        border-radius: 10px;
      "
    >
      <div style="display: flex;">
        <img
          src="https://i.scdn.co/image/ab67706f000000035551996f500ba876bda73fa5"
          style="width: 38%; margin: 2%;"
        />
        <div style="padding: 10px; width: 50%; overflow: hidden;">
          <h1
            style="
              margin-bottom: 0px;
              padding-bottom: 8px;
              font-size: 36px;
              width: auto;
              borderbottom: 2px solid #616161;
              text-overflow: ellipsis;
            "
          >
            Deep Focus
          </h1>
          <h2 style="font-size: 16px; color: #616161;">
            Listen now only on Spotify: Keep calm and focus with ambient and post-rock music.
          </h2>

          <h3 style="font-size: 16px; color: #909090;">
            https://open.spotify.com/playlist/37i9dQZF1DWZeKCadgRdKQ
          </h3>
        </div>
      </div>
    </div>
  </body>
</html>
